.content {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 500px;
  align-items: center;
  width: 100%;
}
.content p {
  font-size: 1.7rem;
  font-family: "Poetsen One", sans-serif;
}

.content button {
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poetsen One", sans-serif;
}

.content button:hover {
  background-color: #cbcbcb;
}

.van {
  width: 400px;
  height: 400px;

  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.van:hover {
  transform: scale(1.1);
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  margin-top: 50px;

  padding-bottom: 50px;
}

.service-items {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageContainer img {
  width: 300px;
  height: 250px;

  border-radius: 10px;
}

.imageContainer p {
  font-size: 20px;
  font-family: "Poetsen One", sans-serif;

  text-align: center;

  padding: 10px;
}

h4 {
  font-family: "Poetsen One", sans-serif;
  font-size: 32px;
  color: red;
}

.services h1 {
  margin-top: 15px;
  font-size: 55px;
}

@media only screen and (max-width: 375px) {
  /* Styles */
}
